{% extends "base.html" %}

{% block title %}View Clients{% endblock %}

{% block content %}
<h2>View Clients</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Service</th>
        <th>Actions</th>
    </tr>
    {% for client in clients %}
    <tr>
        <td>{{ client[1] }}</td>
        <td>{{ client[2] }}</td>
        <td>{{ client[3] }}</td>
        <td>{{ client[4] }}</td>
        <td>{{ client[5] }}</td>
        <td>{{ client[6] }}</td>
        <td>
            <a href="{{ url_for('update_client', id=client[0]) }}">Update</a>
            <a href="{{ url_for('delete_client', id=client[0]) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

